---
title: "UM Geodynamics - Full Publications"
layout: default
excerpt: "Full publications list"
sitemap: true
permalink: /publications-full/
---

<div class="onepage col-sm-12 onepage-publications">
  <section class="onepage-section" id="publications-full">
    <h2>Full Publications</h2>
    <p class="onepage-scholar">
      <a href="/">Back to homepage</a> |
      <a href="https://scholar.google.com/citations?user=hIU7K7IAAAAJ&hl=en">Google Scholar</a>
    </p>
    <ol reversed>
      {% for pub in site.data.publications %}
      <li>{% include publication.html pub=pub %}</li>
      {% endfor %}
    </ol>
    <h3>Other</h3>
    <p>Holt, A. F., 2016. <em>Trench migration, slab bending, and mantle flow at subduction zones</em>, Ph.D. thesis, University of Southern California, Los Angeles CA. (<a href="/documents/papers/holt_PhDThesis_2016.pdf">PDF</a>)</p>
  </section>
</div>
