{%- assign pub = include.pub -%}
{%- assign title = pub.title -%}
{%- if include.use_short and pub.short -%}{%- assign title = pub.short -%}{%- endif -%}
{% if pub.year %}{{ pub.authors }}, {{ pub.year }}. {% else %}{{ pub.authors }} {% endif %}{{ title }}. {% if pub.status %}{{ pub.status }} <em>{{ pub.journal }}</em>{% else %}<em>{{ pub.journal }}</em>{% if pub.volume %}, {{ pub.volume }}{% endif %}{% if pub.pages %}, {{ pub.pages }}{% endif %}{% if pub.doi %}, doi:{{ pub.doi }}{% endif %}{% endif %}.{% if pub.pdf %} (<a href="/documents/papers/{{ pub.pdf }}">PDF</a>){% endif %}
